* {
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

html {
    width: 100vw;
}

header {
    box-shadow: 0px 2px 5px 0px rgba(179, 178, 178, 0.75);
    background-color: #FFFBFB;
}

.logo-container h1 {
    width: 1200px;
    margin: auto;
    padding: 25px;
}

body {
    background-color: rgba(236, 236, 236, 0.932);
}

.main-container {
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-book {
    margin: 50px auto;
    padding: 10px 30px;
    width: fit-content;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: transparent;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.add-book:hover {
    background-color: rgb(211, 211, 211);
    transition: 0.5s;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.card {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 5px 0px rgba(179, 178, 178, 0.75)
}

.card button,
.card p {
    margin: 0.5rem;
    font-size: 1rem;
}

.card button {
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
}

.remove-btn:hover {
    transition: 0.3s;
    background-color: rgb(211, 211, 211);
}

.submit,
.read-btn {
    background-color: rgb(142, 238, 142);
}

.submit:hover,
.read-btn:hover {
    background-color: rgb(110, 206, 110) ;
}

.not-read-btn {
    background-color: rgb(238, 142, 142)
}

.not-read-btn:hover {
    background-color: rgb(206, 110, 110)
}

.book-form {
    display: none;
    position: fixed;
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(236, 236, 236);
    top: 25%;
    left: 25%;
    right: 25%;
    z-index: 2;
}

.grey-tint {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.582);
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.book-form form {
    display: flex;
    flex-direction: column;
}

.book-form p {
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: 700;
}

.book-form form input {
    margin: 15px 0;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.submit {
    cursor: pointer;
}

@media (max-width: 1300px) {

    .logo-container h1 {
        width: 95%;
    }

    .main-container {
        width: 95%;
    }

    .add-book {
        margin: 25px auto;
    }
}

@media (max-width: 1000px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .book-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .logo-container h1 {
        width: 90%;
    }

    .main-container {
        width: 90%;
    }
}
